{
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "tailwindConfig": "./tailwind.config.js",
    "printWidth": 120,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": true,
    "semi": true,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "interface",
        "(?=content|api)",
        "context/",
        "mock/",
        "config",
        "utils/",
        "hooks/",
        "(components/|./index)",
        ".svg",
        "^../(.*)$",
        "(?=./styles.module.scss)"
    ],
    "importOrderParserPlugins": ["jsx", "typescript"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
